{% extends 'base.html' %}

{% block main %}



<br>

  <h4>Consultas</h4>


     <br>

     <table class="table table-striped">

      <tbody>

      {% for consulta in object_list %}
        <tr>
          <th scope="row"></th>
          <td>
              <a href="{% url 'update_consulta' consulta.id  %}">
                {{ consulta.animal.nome }} <br>
              </a>
          </td>
            <td>
                ss

            </td>

        </tr>
         {% endfor %}
        </tbody>
       </table>

       <br>


{% endblock %}

