{% extends 'base.html' %}
{% load bootstrap %}



{% block main %}

<br>

<div class="row">
  <div class="col-sm-8">

   <form method="POST">
        {% csrf_token %}

        {{ form|bootstrap }}

        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>


    <br>

    <br>


  </div>



 <div class="col-sm-4">


    <div class="card" style="width: 18rem;">
      <div class="card-header">
        Animais
      </div>
      <ul class="list-group list-group-flush">
        {% for animal in object.animal_set.all %}

            <li class="list-group-item" ><a href="{% url 'update_animal' animal.id %}"> {{ animal.nome }} </a> </li>

        {% endfor %}
      </ul>
    </div>


    {% if object %}
        <br>
        <a href="{% url 'create_animal' object.id %}" class="btn btn-success">
            Adicionar Animal
        </a>
    {% endif %}

  </div>

</div>



{% endblock %}