{% extends 'base.html' %}
{% load bootstrap %}
{{ form.errors }}


{% block main %}
<br>
<div class="alert alert-dark" role="alert">   {{ object.pertence.nome }}  ->  Animais </div>
<br>

<div class="row">
  <div class="col-sm-8">

  <form method="POST">
    {% csrf_token %}

    {{ form|bootstrap }}

    <button type="submit" class="btn btn-primary">Salvar</button>
   </form>

   <br>

  </div>
  <div class="col-sm-4">

      <div class="card" style="width: 21rem;">
      <div class="card-header">
        Consultas
      </div>
      <ul class="list-group list-group-flush">
        {% for consulta in object.consulta_set.all %}

            <li class="list-group-item" ><a href="{% url 'update_consulta' consulta.id %}"> {{ consulta.data_consulta }} </a> </li>

        {% endfor %}
      </ul>
    </div>

   <br>
   {% if object %}

         <a href="{% url 'create_consulta' object.id object.pertence.id %}" class="btn btn-info"> Novo Consulta </a>
    {% endif %}
  </div>
</div>


{% endblock %}





